@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{ font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    color: #d1d0cf;
    background: #141414;
}

.container-fluid{
    padding: 0 100px;
}

header#main-header{
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 99;
    background: rgba(20, 20, 20, 0.5) !important;
    backdrop-filter: blur(10px);
}

header .navbar-light .navbar-brand img.logo{
    width: 160px;
}